/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  /* Body styling */
  body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container */
  .HomeContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Header */
  .homepage-title {
    font-size: 2.5em;
    margin-bottom: 10px; /* Reduced margin-bottom */
    color: #000000;
  }
  
  /* Main content paragraph */
  .main-content {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #000000;
  }
  
  /* Navigation */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    margin: 10px 0;
  }
  
  nav ul li a {
    color: #fff;
    background: #192837;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  nav ul li a:hover {
    background: #223446;
  }
  
  /* Footer */
  .footer-content {
    margin-top: 20px;
    font-size: 1em;
    color: #ffffff;
  }